<ion-header>
  <ion-toolbar>
    <ion-title>Frase del Día</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ frase }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Autor: {{ autor }}</p>
    </ion-card-content>
  </ion-card>
  <ion-content class="ion-padding">
    <ion-button expand="full" routerLink="/formulario">Ir al Formulario</ion-button>
    <ion-button expand="full" routerLink="/home">Ir a Home</ion-button>
  </ion-content>
</ion-content>
